<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../../../../../assets/styles.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="../../../../../assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= articleTitle %></title>
	<link href="../../../../../assets/prism.css" rel="stylesheet" />
	<link href="<%= specialStyle %>" rel="stylesheet" />
</head>
<body>
<section class="pageHeader">
  <a href="/" class="purple">/knrdhz</a>
  <a href="/projects" class="purple">/projects</a>
  <a href="/contact" class="purple">/contact</a>
</section>

<section class="main-content">
	<h1><%- headlineTitle %></h1>
	<h4><%- articleDate %></h4>
	<div class="tagsWrapper">
		<%- tags %>
	</div>
	<hr>
	<%- body %>
  <p>
  <a class="purple" href="<%= site.basePath %>/" class="btn">Back to main page</a>
</section>
<script src="../../../../../assets/prism.js"></script>
</body>
</html>
